@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: #d6dbe2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body,
button {
  margin: 0;
  color: #1b1919;
  font-family:
    "Montserrat",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  display: flex;
  min-height: 100dvh;
}

#app {
  margin: 0 auto;
  text-align: center;
}

.content_btns {
  margin-top: 1.5rem;
}

.btn_start_process {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn_start_process:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #ffab9d80;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.btn_start_process span {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.btn_start_process:hover:before {
  width: 100%;
  background: #ffab9d;
}

.btn_start_process:active {
  transform: scale(0.96);
}

.btn_start_process:disabled {
  cursor: not-allowed;
}

.verification_error {
  width: 100%;
  height: 75dvh;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.verification_error > p {
  color: #6d6d6dc2;
  font-weight: 600;
}
.verification_error > h3 {
  color: #d13f3fc2;
}

#verification_iframe {
  width: 100%;
  height: 75dvh;
  border: none;
  border-radius: 10px;
}

@media (max-width: 639px) {
  #app {
    margin: 2rem;
  }
  .error {
    width: 70%;
    padding: 0.8rem 1rem;
  }
}
